<div id="promo">
  <h1>One Search</h1>
  <h2>Hundreds of Cooperative Extension Sites</h2>
  <p>Easy search access to resources provided by your Land-Grant institutions</p>
</div>

<div id="cse"></div>
<script type="text/javascript">
  var localCallback = function() {
    if (document.readyState == 'complete') {
      // Document is ready when CSE element is initialized.
      // Render an element with both search box and search results in div with id 'searcharea'.
      // "search" tag means both the results and the searchbox
      google.search.cse.element.render(
          {
            div: "searcharea",
            tag: "search",
            gname: "customsearch"
           });
    } else {
      // Document is not ready yet, when CSE element is initialized.
      google.setOnLoadCallback(function() {
          google.search.cse.element.render(
              {
                div: "searcharea",
                tag: "search",
                gname: "customsearch"
              });
      }, true);
    }
  };

  // Insert it before the CSE code snippet so that cse.js can take the script
  // parameters, like parsetags, callbacks.
  window.__gcse = {
    parsetags: 'explicit',
    callback: localCallback
  };

  (function() {
    var cx = '010978498346658208303:rljk-euizvq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();



</script>

<div id="search_info">
  <h4>About Cooperative Extension Search</h4>

  <p>This service allows you to search the resources provided by your <%= link_to("Cooperative Extension Service", "http://en.wikipedia.org/wiki/Cooperative_extension_service") %> using a <%= link_to("Google Custom Search Engine", "http://www.google.com/cse/") %> that includes many of the Cooperative Extension web sites provided by your Land-Grant institutions.</p>

</div>

<div id="searcharea">
</div>
